@model LanguageChooserModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Canada.ca</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
</head>
<body>
    <main id="mainContentOfPage">
        <div id="choosing-box">
            <div class="header">
                <div class="logo">
                    <gcds-signature></gcds-signature>
                </div>
                <div class="row">
                    <section class="col-6 text-end pt-3" lang="en">
                        <h2 class="sr-only">@Model.ApplicationTitleEn</h2>
                        <p>
                            <gcds-button type="link" href="@Model.EnglishAction">English</gcds-button>
                        </p>
                    </section>
                    <section class="col-6 text-start pt-3" lang="fr">
                        <h2 class="sr-only">@Model.ApplicationTitleFr</h2>
                        <p>
                            <gcds-button type="link" href="@Model.FrenchAction">French</gcds-button>
                        </p>
                    </section>
                </div>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-8"><a href="@Model.TermLinkEn">Terms & conditions</a> <span class="fa-solid fa-asterisk"></span> <a href="@Model.TermLinkFr">Avis</a></div>
                    <div class="col-4"><gcds-signature type="Wordmark"></gcds-signature></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>