@using System.Web
@using GCFoundation.Web.Models
@using GCFoundation.Web.Resources
@model FormTestViewModel

@if (Model == null)
{
    <p class="error-text">Model is NULL!</p>
}
else
{
    <section>
        <gcds-heading tag="h1">@Components.Index_Forms_Title</gcds-heading>
        <gcds-text>@Html.Raw(Forms.Page_Description)</gcds-text>
    </section>
    <div>
        <gcds-heading tag="h2">@Forms.Sample_Form</gcds-heading>
        <fdcp-form method="post" action="@Url.Action("Forms", "Components")" for="@Model">
            <fdcp-input for="@Model.FullName" />
            <fdcp-input for="@Model.Email" />
            <fdcp-input for="@Model.Password" />
            <fdcp-input for="@Model.Website" />
            <fdcp-input for="@Model.Age" />
            <fdcp-input for="@Model.Bio" />
            <fdcp-input for="@Model.DateOfBirth" />

            <fdcp-select for="@Model.SelectedCountry" items="@Model.CountryOptions" />

            <fdcp-radios for="@Model.Gender" items="@Model.GenderOptions" />

            <fdcp-checkboxes for="@Model.SelectedInterests" items="@Model.InterestOptions" required="true" />

            <fdcp-checkbox for="@Model.AgreeToTerms" required="true" />

            <gcds-button type="submit">Submit</gcds-button>
        </fdcp-form>
    </div>

    <div>
        <pre>
        <code class="language-cshtml">@Html.Raw(HttpUtility.HtmlEncode(@"
<fdcp-form method=""post"" action=""@Url.Action(""FormValidationTest"", ""Components"")"" for=""@Model"">
    <fdcp-input for=""@Model.FullName"" />
    <fdcp-input for=""@Model.Email"" />
    <fdcp-input for=""@Model.Password"" />
    <fdcp-input for=""@Model.Website"" />
    <fdcp-input for=""@Model.Age"" />
    <fdcp-input for=""@Model.Bio"" />
    <fdcp-input for=""@Model.DateOfBirth"" />

    <fdcp-select for=""@Model.SelectedCountry"" items=""@Model.CountryOptions"" />

    <fdcp-radios for=""@Model.Gender"" items=""@Model.GenderOptions"" />

    <fdcp-checkboxes for=""@Model.SelectedInterests"" items=""@Model.InterestOptions"" required=""true"" />

    <fdcp-checkbox for=""@Model.AgreeToTerms"" required=""true"" />

    <gcds-button type=""submit"">Submit</gcds-button>
</fdcp-form>"))</code>
        </pre>
    </div>
}