@using Foundation.Components.TagHelpers.FDCP

<div>

	@foreach (FDCPBadgeStyle style in Enum.GetValues(typeof(FDCPBadgeStyle)))
	{

		<fdcp-badge text="@style.ToString()" style="@style" is-removable="true"></fdcp-badge>
		<fdcp-badge text="@style.ToString()" style="@style"></fdcp-badge>
	}

</div>

<div>
	@foreach (FDCPBadgeStyle style in Enum.GetValues(typeof(FDCPBadgeStyle)))
	{

		<fdcp-badge text="@style.ToString()" style="@style" is-removable="true" inverted="true"></fdcp-badge>
		<fdcp-badge text="@style.ToString()" style="@style" inverted="true"></fdcp-badge>
	}

</div>