@using System.Web
@model FormTestViewModel


@if (Model == null)
{
    <p style="color: red;">Model is NULL!</p>
}
else
{
    <section>
        <gcds-heading tag="h1">
            Form
        </gcds-heading>
        <gcds-text>
            The form components from the foundation help you build your own form with minumum implementation
            Almost everything is done in the model
        </gcds-text>
    </section>
    
    <div>
        <gcds-heading tag="h2">
            Form components preview
        </gcds-heading>
        <fdcp-form method="post" action="@Url.Action("FormValidationTest", "Components")" for="@Model">

            <fdcp-input for="@Model.FullName" />
            <fdcp-input for="@Model.Email" />
            <fdcp-input for="@Model.Password" />
            <fdcp-input for="@Model.Website" />
            <fdcp-input for="@Model.Age" />
            <fdcp-input for="@Model.Bio" />
            <fdcp-input for="@Model.DateOfBirth" />

            <fdcp-select for="@Model.SelectedCountry" items="@Model.CountryOptions" />

            <fdcp-radios for="@Model.Gender" items="@Model.GenderOptions" />

            <fdcp-checkboxes for="@Model.SelectedInterests" items="@Model.InterestOptions" required="true" />

            <fdcp-checkbox for="@Model.AgreeToTerms" required="true" />

            <gcds-button type="submit">Submit</gcds-button>

        </fdcp-form>
    </div>

    

    <div>
        <pre>
        <code class="language-cshtml">
                @Html.Raw(HttpUtility.HtmlEncode(@"
<fdcp-form method=""post"" action=""@Url.Action(""FormValidationTest"", ""Components"")"" for=""@Model"">

<fdcp-input for=""@Model.FullName"" />
<fdcp-input for=""@Model.Email"" />
<fdcp-input for=""@Model.Password"" />
<fdcp-input for=""@Model.Website"" />
<fdcp-input for=""@Model.Age"" />
<fdcp-input for=""@Model.Bio"" />
<fdcp-input for=""@Model.DateOfBirth"" />

<fdcp-select for=""@Model.SelectedCountry"" items=""@Model.CountryOptions"" />

<fdcp-radios for=""@Model.Gender"" items=""@Model.GenderOptions"" />

<fdcp-checkboxes for=""@Model.SelectedInterests"" items=""@Model.InterestOptions"" required=""true"" />

<fdcp-checkbox for=""@Model.AgreeToTerms"" required=""true"" />

<gcds-button type=""submit"">Submit</gcds-button>

</fdcp-form>
        "))
        </code>
        </pre>
    </div>
}