@using Foundation.Common.Settings
@using Foundation.Common.Utilities
@using Foundation.Components.Enums
@using Foundation.Components.Setttings
@using Foundation.Components.Utilities
@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Options
@using cloudscribe.Web.Navigation

@inject IOptions<FoundationComponentsSettings> settings;
@inject IOptions<FoundationSessionSetting> sessionSetting;

<!DOCTYPE html>
<html lang="@LanguageUtility.GetCurrentApplicationLanguage()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.Value.ApplicationName</title>
    <link href="@StaticResourceUtility.GetImageResourcePath("favicon.ico")" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="@StaticResourceUtility.GetLibResourcePath("tabulator/dist/css/GCTabulatorTheme.css")" />
    <link rel="stylesheet" href="@StaticResourceUtility.GetCssResourcePath("foundation.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@StaticResourceUtility.GetLibResourcePath("prism/css/prism.css")" asp-append-version="true" />
</head>
<body>
    @{
        RouteValueDictionary routeValueDictionary = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeValueDictionary["culture"] = LanguageUtility.GetOppositeLangauge();
            Language currentLanguage = Language.en;

        if (LanguageUtility.GetCurrentApplicationLanguage() == "fr")
        {
            currentLanguage = Language.fr;
        }
    }
    <gcds-header lang-href="@Url.RouteUrl(routeValueDictionary)" skip-to-herf="#main-content" lang="@currentLanguage">
        @{
            string? menuPartialViewName = ViewData["MenuPartialViewName"] as string;
            string? searchPartialViewName = ViewData["SearchPartialViewName"] as string;
            string? bannerPartialViewName = ViewData["BannerPartialViewName"] as string;
        }

        @* Load a banner view if defined *@
        @if (!string.IsNullOrEmpty(bannerPartialViewName))
        {
            <div slot="banner">
                @await Html.PartialAsync(bannerPartialViewName);
            </div>
        }

        @* Load a menu view if defined *@
        @if (!string.IsNullOrEmpty(menuPartialViewName))
        {
            <div slot="menu">
                @await Html.PartialAsync(menuPartialViewName);
            </div>
        }

        @* Load a search view if defined *@
        @if (!string.IsNullOrEmpty(searchPartialViewName))
        {
            <div slot="search">
                @await Html.PartialAsync(searchPartialViewName);
            </div>
        }

        <div slot="breadcrumb">
            @await Component.InvokeAsync("Navigation", new { viewName = "GCDSBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
        </div>
    </gcds-header>
    <gcds-container id="main-content" size="xl" centered tag="main" main>
        <partial name="_PageNotification" />
        @* Main content *@
        @RenderBody()
    </gcds-container>

    @* GC Footer *@
    <gcds-footer display="full"></gcds-footer>

    @* Render all modal in that section to make sure to block all content on the page *@
    @await RenderSectionAsync("Modals", required: false)

    @* If the session management is activated  *@
    @if (sessionSetting.Value.UseSession && sessionSetting.Value.UseReminder)
    {
        @await Html.PartialAsync("Modals/_ExtendSessionModal");
    }

    <script src="@StaticResourceUtility.GetLibResourcePath("prism/js/prism.js")" asp-append-version="true"></script>
    <script src="@StaticResourceUtility.GetLibResourcePath("tabulator/dist/js/tabulator.min.js")" asp-append-version="true"></script>
    <script src="@StaticResourceUtility.GetJsResourcePath("foundation.min.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
