@using Foundation.Components.Utilities
@using Microsoft.AspNetCore.Routing
@using cloudscribe.Web.Navigation
@using Foundation.Components.Setttings

<!DOCTYPE html>
<html lang="@LanguageUtility.GetCurrentApplicationLanguage()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foundation.Web</title>
    <link href="@StaticResourceUtility.GetImageResourcePath("favicon.ico")" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="@StaticResourceUtility.GetLibResourcePath("tabulator/css/tabulator_bootstrap5.min.css")" />
    <link rel="stylesheet" href="@StaticResourceUtility.GetCssResourcePath("Foundation.Components.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@StaticResourceUtility.GetCssResourcePath("prism.css")" asp-append-version="true" />
</head>
<body>
    @{
        RouteValueDictionary routeValueDictionary = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeValueDictionary["culture"] = LanguageUtility.GetOppositeLangauge();
        Foundation.Components.Enum.LanguageEnum currentLanguage = Foundation.Components.Enum.LanguageEnum.en;

        if (LanguageUtility.GetCurrentApplicationLanguage() == "fr")
        {
            currentLanguage = Foundation.Components.Enum.LanguageEnum.fr;
        }


    }
    <gcds-header lang-href="@Url.RouteUrl(routeValueDictionary)" skip-to-herf="#main-content" lang="@currentLanguage">
        <div slot="menu">
            <gcds-top-nav label="Foundation" alignment="right">
                <gcds-nav-link href="@Url.Action("Index","Home")" slot="home">Foundation</gcds-nav-link>
                <gcds-nav-link href="@Url.Action("Privacy","Components")">Privacy</gcds-nav-link>
                <gcds-nav-link href="@Url.Action("Index","Components")">Components</gcds-nav-link>
            </gcds-top-nav>
        </div>
        <div slot="breadcrumb">
            @await Component.InvokeAsync("Navigation", new { viewName = "GCDSBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
        </div>
    </gcds-header>
    <gcds-container id="main-content" size="xl" centered tag="main" main>
        @RenderBody()
    </gcds-container>

    <gcds-footer display="full">

    </gcds-footer>
    <script src="@StaticResourceUtility.GetJsResourcePath("prism.js")" asp-append-version="true"></script>
    <script src="@StaticResourceUtility.GetLibResourcePath("tabulator/js/tabulator.min.js")" asp-append-version="true"></script>
    <script src="@StaticResourceUtility.GetJsResourcePath("Foundation.components.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
